body {
    background-image: url('https://media.istockphoto.com/photos/brown-smooth-wood-surface-picture-id1183955880?k=20&m=1183955880&s=612x612&w=0&h=J6ZQc_eP2IXyBmtG2Fl6ZIIujlZjubbzpMphqN8f9a8=');
    background-attachment: fixed;
    background-color: teal;
    background-position: center;
    background-size: cover;
    background-position-y: 250px;
    margin: 10px;
}

#main {
    background-color: #80cbc3d9;
    text-align: center;
    border-width: thick;
    border-style: ridge;
    border-color:teal;
    margin-top: 50px;
    padding-bottom: 100px;
    height: 150px;
    width: 850px;
}

#second {
    margin-top: 85px;
}

/** Journal Page**/
/* #start {
    margin-left: 100px;
    margin-bottom: 100px;
    font-size: 50px;
    border-width: thick;
    text-align: center;
} */

#today {
    margin-top: 10px;
    text-align: right;
    padding-right: 50px;
    font-weight: bold;
    font-size: xx-large;
    border-bottom: teal;
    border-bottom-style: solid;
    border-bottom-width: thick;

}

textarea {
    background-color: blanchedalmond;
    color: black;
    margin-top: 50px;
    height: 400px;
    font-size: x-large;
    text-indent: 50px;
    padding: 50px 50px;
    line-height: 50px;
}

/** Entries Page**/

.collapsible.expandable {
    border-left: 50px solid burlywood;
    border-style: groove;
}

.collapsible-header {
    background-color: burlywood;
    padding: 10px;
}

.collapsible-body {
    background-color: papayawhip;
}

#month-header {
    background-color: teal;
}

.collection-item {
    background-color: teal;
    color: black;
}

/* .collection.col.s2 {
    padding-right: 100px;
    padding-left: 50px;
    padding-top: 25px;
    border: none;
}

.col.s8 {
    padding-top: 100px;
    padding-right: 100px;
} */